
.pending_request__action{
  display: flex;
}
.pending_request__action > *{
  position: relative;
}
.pending_request__action button{
  outline: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #818181;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  border: 1px solid #818181;
  background-color: white;
  cursor: pointer;
}
.pending_request__action .approve_active{
  background-color: var(--color-approve);
  color: white;
  border-color: var(--color-approve);
}
.pending_request__action .reject_active{
  background-color: var(--color-reject);
  color: white;
  border-color: var(--color-reject);
}

.pending_request__action .disable{
  background-color: #CCCCCC !important;
  color: #A39999 !important;
  border-color: #CCCCCC !important;
  cursor: initial;
}

.pending_request__action label{
  font-size: 1.6rem;
  font-weight: 700;
  padding: .5rem 0;
}
.pending_request__action textarea{
  border: none;
  outline: none;
  margin-top: 1rem;
  resize: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.pending_request__dd_approve{
  cursor: inherit;
}
.pending_request__dd_reject{
  cursor: inherit;
}
