.request_to{
  cursor: pointer;
  padding: 2rem;
}

.request_to:hover{
  background-color: #F3F5F8;
}
.request_to__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request_to__user_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.request_to__type{
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: .25rem .5rem;
  margin-left: .5rem;
}
.request_to__user_info__head>p:first-child{
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.request_to__user_info__head>p:last-child{
  font-size: 1.6rem;
  font-weight: 500;
  color: #363636;
  margin-top: .6rem;
}
.request_to__user_info__head>p:last-child>span{
  color: #7B7C7C;
  margin-left: .5rem;
}
.request_to__user_info>p:last-child{
  color: #7B7C7C;
  font-size: 1.5rem;
}
.request_to__content{
  display: none;
  padding: 1rem;
  padding-left: 7.5rem;
}
.request_to__description{
  white-space: pre-line;
  font-size: 1.7rem;
  font-weight: 500;
  color: #373737;
  line-height: 2rem;
}
.request_to__content.show{
  display: inherit;
}
.request_to__time>p:first-child,.request_to__time>p:last-child{
  color: #6E6F6F;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.request_to__time>p:nth-of-type(2){
  color: #373737;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.request_to__time>p:nth-of-type(2)>.MuiSvgIcon-root{
  margin:  0 2rem;
}