:root {

  --color-light-primary: #FFFFFF;
  --color-light-secondary: #FBFCFE;
  --color-light-tertiary: #EEEEEE;
  --color-medium: #cac9c9;
  --color-dark-primary: #363636;
  --color-dark-secondary: #525252;
  --color-dark-tertiary: #7B7B7B;

  --color-button: #0066CC;

  --color-error: #EE5353;
  --color-complete: #2ECC71;

  --font-size-large: 1.5rem;
  --font-size-medium: 1.1rem;
  --font-size-small: .9rem;

  --box-shadow-primary: 5px 5px 10px rgba(0, 0, 0, .5);
  --box-shadow-secondary: 3px 3px 10px rgba(0, 0, 0, .4);

  --color-pending : rgba(234, 146, 69, .8);
  --color-approve : rgba(46, 194, 165,.8);
  --color-reject : rgba(226, 80, 80, .8);
  --color-holiday : #C39BD3;
  --color-last-week : #F1F1F1;
}

.status_approved{
  background-color: #BAEAE1;
  color : #20BE9F;
}

.status_rejected{
  background-color: #F5C6C6;
  color : #E35252;
}

.status_pending{
  background-color: #F7D8BC;
  color : #E78229;
}



