.action_column{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.action_column__button{
  display: flex;
  align-items: center;
  justify-content: flex-end ;
  margin-top: .5rem;
}
.action_column__button>button{
  outline: none;
  border: none;
  padding: .8rem 2.3rem;
  font-size: 1.8rem;
  font-weight: 550;
  margin-left: 1.5rem;
  cursor: pointer;
  text-align: center;
  border-radius: .5rem;
  color: white;
  
}

.action_column__button>button:nth-child(1){
  background-color: var(--color-error);
}
.action_column__button>button:nth-child(2){
  background-color: var(--color-button);
}

.action_column__button>button:hover{
  
}
.action_column__modal_content{
  padding: 2rem;  
  font-size: 1.8rem;
  font-weight: 600;
}
.projects__action-column{
  display: none;
}