.request_time_off {
    padding: 3rem 0;
    border-bottom: 1px solid rgb(221,225,229);
    display: flex;
    cursor: pointer;
}

.request_time_off:hover .request_time_off__right{
    visibility: visible;
}

.request_time_off__left__data {
    display: flex;
    color: #0066CC;
    position: relative;
}

.request_time_off__left__data>p:nth-child(4) {
    padding: 1rem 1.5rem;
    border-radius: 1.8rem;
    font-size: medium;
    font-weight: 550;
    color: #808282;
    bottom: -.1rem;
    right: 5rem;
    position: absolute;
}

.request_time_off__left__data>p:nth-child(1) {
    padding: 1rem 1.5rem;
    border-radius: 1.8rem;
    font-size: medium;
    color: white;
    position: absolute;
    top: -1.6rem;
    right: -1.4rem;
}

.request_time_off__left__center {
    position: absolute;
    bottom: -.1rem;
    right: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 11rem;
}


.request_time_off__left__center>p {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 1.8rem;
    font-size: medium;
    font-weight: 550;
    color: #808282;

}

.request_time_off__left__start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
    background-color: #DBDFDF;
    border-radius: 1.5rem 0 0 1.5rem;
    text-align: center;
    min-width: 7rem;
}


.request_time_off__left__end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
    background-color: #ECF0F1;
    border-radius: 0 1.5rem 1.5rem 0;
    text-align: center;
    min-width: 7rem;
}

.day_month {
    font-size: medium;
}

.date {
    font-size: 5rem;
    font-weight: 500;
}

.request_time_off__center {
    font-size: medium;
    font-weight: 500;
    line-height: 2.3rem;
    padding: 0 3rem 0 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}




.request_time_off__center__info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.request_time_off__center__info>p {
    
    color: #9F9F9F;
    font-size: 1.3rem;
    
}

.request_time_off__center__info>p:nth-of-type(1) {
    margin-left: .8rem;
}

.request_time_off__right {
  margin-right: 2rem;
  visibility: hidden;
}

.request_time_off_response {
    position: relative;
}

.response__content>p{
    background-color: #2496F7;
    width: max-content;
    max-width: 30rem;
    padding: 1rem;
    margin-top: -1.85rem;
    border-radius: 3px;
    white-space: pre-line;
    color: white;

}
.response__content {
    background-color: #FFFFFF;
    margin-top: -1rem;
}